<nav class='navbar navbar-expend navbar-light bg-light'>
  <a class='navbar-brand'>Kino</a>
<ul class='nav nav-pills'>
  <li><button class="btn btn-sm btn-outline-secondary" type="button"><a class='nav-link' [routerLink]="['/wecome']">Home</a></button></li>
  <li><button class="btn btn-sm btn-outline-secondary" type="button"><a class='nav-link' [routerLink]="['/movies']">Filmy</a></button></li>
  <li><button class="btn btn-sm btn-outline-secondary" type="button"><a class='nav-link' [routerLink]="['/createMovie']">Dodaj Film</a></button></li>
  <li><button class="btn btn-sm btn-outline-secondary" type="button"><a class='nav-link' [routerLink]="['/edit']">Zarządzaj Filmami</a></button></li>
</ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
